// ================= COLORS =================
// bright
$green: #008000;
$bright-green: #90e090;
$dark-green: #006500;
$orange: #ffa500;
$bright-orange: #ffe080;
$red: #ff0000;
$dark-red: #c70f19;
$bright-red: #ff9090;
$black: #333;
$white: #fff;
$gray: #a9a9a9;
$medium-gray: #dddddd;
$light-gray: #eef0f2;
$dark-gray: #808080;

// pale
$blue-pale-dark: #698296;
$blue-pale-light: #d4e1ef;
$blue-pale-lighter: #dfeaf6;
$blue-pale-lightest: #f2f5f7;


// ================= GENERAL =================
$main-font: Helvetica, Arial, sans-serif;
$margin-content: 5pt;
$bgcolor: $blue-pale-lightest;
$border-color: $blue-pale-light;
$table-border-color: $blue-pale-dark;
$table-border-radius: 3pt;


// ================= LOGIN FORM =================
$login-panel-margin: 0 0 15pt 0;
$login-panel-bgcolor: $white;
$login-panel-bgcolor-header: transparent;
$login-panel-bgimg-header: linear-gradient(to bottom, $white, $light-gray);
$login-panel-border: 1pt solid $medium-gray;
$login-panel-border-radius: 4pt;
$login-panel-box-shadow: 0 1pt 1pt rgba(0, 0, 0, .05);
$login-panel-padding-header: 8pt 12pt 8pt 30pt;
$login-panel-fontsize-header: 16pt;
$login-panel-fontweight-header: bold;
$login-panel-lineheight-header: 30pt;
$login-panel-padding-body: 12pt 12pt 12pt 12pt;
$login-panel-fontsize-body: 14pt;
$login-panel-fontweight-body: normal;
$login-panel-lineheight-body: 18pt;
$login-form-input-height: 25pt;
$login-form-input-padding: 4pt 8pt 4pt 8pt;
$login-form-input-border: 1pt solid $medium-gray;
$login-form-input-border-radius: 4pt;
$login-form-input-transisiton: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
$login-form-input-border-focus: 1pt solid $blue-pale-dark;
$login-form-input-boxshadow-focus: inset 0 1pt 1pt rgba(0, 0, 0, .075), 0 0 6pt rgba(102, 175, 233, .6);
$login-panel-fontsize-flash: 10pt;

$formbutton-background: linear-gradient(to bottom, $white, $light-gray);
$formbutton-background-hover: linear-gradient(to bottom, darken($white, 5%), darken($light-gray, 5%));
$formbutton-padding: 4pt 25pt;
$formbutton-fontsize: 10pt;
$formbutton-fontweight: bold;
$formbutton-border: 1pt solid $medium-gray;
$formbutton-border-hover: 1pt solid darken($medium-gray, 5%);
$formbutton-border-focus: 1pt solid $blue-pale-light;
$formbutton-transition: all ease .5s;


// ================= NAV BAR =================
$nav-color-selected: $dark-red;
$nav-color-hover: $dark-red;
$nav-color-default: $black;
$nav-background: linear-gradient(to bottom, $white, $light-gray);
$nav-background-logout: linear-gradient(to bottom, rgba(235, 0, 0, 0.05), rgba(150, 0, 0, 0.15));
$nav-background-logout-hover: linear-gradient(to bottom, rgba(215, 0, 0, 0.1), rgba(120, 0, 0, 0.2));
$nav-color-logout-icon: darken($dark-red, 30%);
$nav-color-logout-title: darken($dark-red, 30%);
$nav-text-shadow: 1pt 1pt 1pt $white;
$nav-box-shadow-selected: inset 0 2pt 4pt rgba(0, 0, 0, 0.125);
$nav-border-top-default: 1pt solid $border-color;
$nav-border-top-selected: 1pt solid darken($border-color, 10%);
$nav-border-bottom-default: 1pt solid $border-color;
$nav-border-bottom-selected: 1pt solid darken($border-color, 10%);
$nav-height: 100%;
$nav-width: 100%;
$nav-element-width: 5em;
$nav-element-width-mobile: 3em;
$nav-divider-vert-border: 1pt solid $border-color;

// ================= SIDE BAR =================
$sidebar-color-header: $blue-pale-dark;
$sidebar-color: $black;
$sidebar-color-selected: $dark-red;
$sidebar-color-border: $border-color;
$sidebar-bgcolor-header: $blue-pale-lighter;
$sidebar-box-shadow-selected: inset 0 2pt 4pt rgba(0, 0, 0, 0.125);
$sidebar-border-radius: 3pt;
$sidebar-border: 1pt solid $border-color;
$sidebar-fontsize-header: 16pt;
$sidebar-fontsize: 12pt;
$sidebar-fontweight-header: bold;
$sidebar-fontweight: bold;
$sidebar-padding-header: 5pt 0 0 0;
$sidebar-padding-ul: 0;
$sidebar-padding-li: 5pt 5pt 5pt 8pt;

// ================= TABLE =================
$table-font-size-caption: 16pt;
$table-font-size-icon: 12pt;
// $table-border: 1pt solid $black;
$table-border: 1pt solid $table-border-color;
$table-padding: 5pt;
$table-wrapper-bg: $white;
$table-wrapper-border-color: $table-border-color;
$table-wrapper-border-radius: 3pt;
$table-wrapper-border-style: solid;
$table-wrapper-border-width: 1pt;

// ================= PROGRESS =================
$progress-ok-color: $bright-green;
$progress-warn-color: $orange;
$progress-crit-color: $bright-red;
$progress-bg-color: #eee;
$progress-border-radius: 2pt;
$progress-box-shadow: 0 2pt 5pt rgba(0, 0, 0, 0.25) inset;

//========= responsive =========
* {
  box-sizing: border-box;
}
.row {
  width: 100%;
}
[class*="col-"] {
  float: left;
  // padding: 5pt;
  // border: 1pt solid red;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
// smartphones
[class*="col-"] {
  width: 100%;
}
div.title {
  visibility: hidden;
  height: 0;
}
nav div ul li {
  width: $nav-element-width-mobile;
}
// desktops
@media only screen and (min-width: 970px) and (orientation: landscape){
  div.title {
    visibility: visible;
    height: 100%;
  }
  nav div ul li {
    width: $nav-element-width;
  }

  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 41.66%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 66.66%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; }

  .col-offset-1 { margin-left: 45.83%; margin-right: 45.83%; }
  .col-offset-2 { margin-left: 41.66%; margin-right: 45.66%; }
  .col-offset-3 { margin-left: 37.5%; margin-right: 37.5%; }
  .col-offset-4 { margin-left: 33.33%; margin-right: 33.33%; }
  .col-offset-5 { margin-left: 29.16%; margin-right: 29.16%; }
  .col-offset-6 { margin-left: 25%; margin-right: 25%; }
  .col-offset-7 { margin-left: 20.83%; margin-right: 20.83%; }
  .col-offset-8 { margin-left: 16.66%; margin-right: 16.66%; }
  .col-offset-9 { margin-left: 12.5%; margin-right: 12.5%; }
  .col-offset-10 { margin-left: 8.33%; margin-right: 8.33%; }
  .col-offset-11 { margin-left: 4.16%; margin-right: 4.16%; }
  .col-offset-12 { margin-left: 0; margin-right: 0; }
}



body {
  font-family: $main-font;
  background-color: $bgcolor;
  // margin: 0;
  // text-align: left;
}

.content-wrapper {
  margin: $margin-content;
}

div#flash {
  text-align: center;
}

div#flash .flash {
  display: inline-block;
  max-width: 600pt;
  padding: 5pt;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30pt;
  text-align: left;
}
div#flash .success {
  background: $bright-green;
  color: $dark-green;
  border: 1pt solid $dark-green;
}
div#flash .notice { }
div#flash .warn { }
div#flash .error {
  background: $bright-red;
  color: $dark-red;
  border: 1pt solid $dark-red;
}

div.login {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  min-height: 100%;
  min-height: 100vh;
}

div.login div.row {
  margin: auto;
  width: 100%;
  display: block;
}

.login-panel {
  margin: $login-panel-margin;
  background-color: $login-panel-bgcolor;
  border: $login-panel-border;
  border-radius: $login-panel-border-radius;
  box-shadow: $login-panel-box-shadow;
}

div.login-panel div.right {
  float: right;
}

div.login-panel .panel-header {
  background-color: $login-panel-bgcolor-header;
  background-image: $login-panel-bgimg-header;
  padding: $login-panel-padding-header;
  font-size: $login-panel-fontsize-header;
  font-weight: $login-panel-fontweight-header;
  line-height: $login-panel-lineheight-header;
}

div.login-panel .panel-body {
  color: $black;
  padding: $login-panel-padding-body;
  font-size: $login-panel-fontsize-body;
  font-weight: $login-panel-fontweight-body;
  line-height: $login-panel-lineheight-body;
}
div.login-panel .panel-body div#flash .flash {
  width: 100%;
  padding: 5pt;
  font-weight: normal;
  font-size: $login-panel-fontsize-flash;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15pt;
}

div.login-panel .panel-body fieldset {
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

div.login-panel .panel-body fieldset .form-group {
  padding-bottom: 12pt;
}

div.login-panel .panel-body fieldset .form-control {
  display: block;
  width: 100%;
  height: $login-form-input-height;
  padding: $login-form-input-padding;
  border: $login-form-input-border;
  border-radius: $login-form-input-border-radius;
  transition: $login-form-input-transisiton;
}
div.login-panel .panel-body fieldset .form-control:focus {
  border: $login-form-input-border-focus;
  box-shadow: $login-form-input-boxshadow-focus;
  outline: 0;
}

.formbutton {
  background: $formbutton-background;
  color: $black;
  padding: $formbutton-padding;
  font-size: $formbutton-fontsize;
  font-weight: $formbutton-fontweight;
  border: $formbutton-border;
  transition: $formbutton-transition;
}

.formbutton:hover {
  background: $formbutton-background-hover;
  border: $formbutton-border-hover;
}


input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}


h1 {
  color: $orange;
  font: 24pt $main-font;
}

header {
  text-align: center;
}

footer {
  margin: $margin-content;
  text-align: center;
}

footer p.license {
  font: 7pt $main-font;
  color: $gray;
}


header h1 {
  font-size: 32pt;
  line-height: 64pt;
  background: none;
  padding-left: 32pt;
}

@mixin tabs ($background: blue, $color: yellow) {
  div.nav-wrapper {
    margin: 0 auto;
    width: $nav-width;
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: transparent;
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    position: relative;
  }
  li {
    float: left;
    width: $nav-element-width;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 6pt;
    background: $background;
    border-collapse: collapse;
    border-top: $nav-border-top-default;
    border-bottom: $nav-border-bottom-default;
    color: $nav-color-default;
    cursor: pointer;
    &:hover {
      background: darken($light-gray, 2%);
      color: $nav-color-hover;
      border-top: $nav-border-top-selected;
      border-bottom: $nav-border-bottom-selected;
    }
  }
}

nav {
  @include tabs ($background: $nav-background, $color: $white);
  text-align: center;
  width: $nav-width;
  height: $nav-height;
  font-weight: bold;
}
nav a.current {
  color: $nav-color-selected;
  box-shadow: $nav-box-shadow-selected;
  border-top: $nav-border-top-selected;
  border-bottom: $nav-border-bottom-selected;
}
nav ul li:first-child {
  border-left: $nav-divider-vert-border;
}
nav ul li {
  border-right: $nav-divider-vert-border;
}
a.nav-logout {
  background: $nav-background-logout;
}
a.nav-logout:hover {
  background: $nav-background-logout-hover;
  color: $nav-color-hover;
}

@mixin sidebar ($background: blue, $color: yellow) {
  header {
    padding: $sidebar-padding-header;
    font-weight: $sidebar-fontweight-header;
    font-size: $sidebar-fontsize-header;
    background: $sidebar-bgcolor-header;
    color: $sidebar-color-header;
    border-top-left-radius: $sidebar-border-radius;
    border-top-right-radius: $sidebar-border-radius;
    border-left: $sidebar-border;
    border-right: $sidebar-border;
    border-top: $sidebar-border;
  }
  ul {
    // list-style: none;
    margin: 0;
    padding: $sidebar-padding-ul;
    background: transparent;
    color: $sidebar-color;
    display: block;
    list-style-type: none;
    overflow: hidden;
    text-align: left;
    font-size: $sidebar-fontsize;
    font-weight: $sidebar-fontweight;
  }
  li {
    // padding: $sidebar-padding-li;
    font-size: $sidebar-fontsize;
    font-weight: $sidebar-fontweight;
    background: $background;
    color: $sidebar-color;
    border-top: $sidebar-border;
    border-left: $sidebar-border;
    border-right: $sidebar-border;
    border-collapse: collapse;
  }
  li:last-child {
    border-bottom: $sidebar-border;
    border-bottom-left-radius: $sidebar-border-radius;
    border-bottom-right-radius: $sidebar-border-radius;
  }
  a {
    font-size: $sidebar-fontsize;
    font-weight: $sidebar-fontweight;
    text-decoration: none;
    display: block;
    padding: 6pt;
    background: $background;
    border-collapse: collapse;
    // border-top: $nav-border-top-default;
    // border-bottom: $nav-border-bottom-default;
    color: $nav-color-default;
    cursor: pointer;
    &:hover {
      background: darken($light-gray, 2%);
      color: $nav-color-hover;
      // border-top: $nav-border-top-selected;
      // border-bottom: $nav-border-bottom-selected;
    }
  }
}
div.sidebar {
  @include sidebar ($background: $nav-background, $color: $white);
  text-align: left;
  // margin: 3pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-bottom: 25pt;
}
div.sidebar a.current {
  color: $sidebar-color-selected;
  box-shadow: $sidebar-box-shadow-selected;
  // border-top: $sidebar-border-top-selected;
  // border-bottom: $sidebar-border-bottom-selected;
}


table, td, th {
  border: $table-border;
  border-collapse: collapse;
  padding: $table-padding;
}

table.table {
  width: 100%;
}

.table-wrapper {
  background: $table-wrapper-bg;
  border-color: $table-wrapper-border-color;
  border-radius: $table-wrapper-border-radius;
  border-style: $table-wrapper-border-style;
  border-width: $table-wrapper-border-width;
  margin-bottom: 20pt;
}

table caption {
  color: $black;
  box-sizing: border-box;
  padding: 3pt 6pt;
  text-align: left;
  font-weight: bold;
  font-size: $table-font-size-caption;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-bottom-color: gray;
}

td.number {
  text-align: right;
}

td.progress {
  text-align: left;
  // padding: 0;
  margin: auto;
}

td.icon {
  font-size: $table-font-size-icon;
  text-align: center;
  margin: auto;
}
a.icon a.icon:link a.icon:visited a.icon:hover a.icon:active {
  color: $black;
  cursor: pointer;
  text-decoration: none;
  font-size: $table-font-size-icon;
}

.item-enabled {
  font-size: $table-font-size-icon;
  color: $green;
  text-decoration: none;
}

.item-disabled {
  font-size: $table-font-size-icon;
  color: $dark-red;
  text-decoration: none;
}

.item-delete {
  color: $dark-red;
  text-decoration: none;
}

// progress {
// [> reset the default appearance <]
// -webkit-appearance: none;
// -moz-appearance: none;
// appearance: none;

// [> remove border in firefox <]
// border: none;
  // }

  .progress-ok {
    display: block;
    background-color: $progress-ok-color;
    white-space: nowrap;
  }
  .progress-warn {
    display: block;
    background-color: $progress-warn-color;
    white-space: nowrap;
  }
  .progress-crit {
    display: block;
    background-color: $progress-crit-color;
    white-space: nowrap;
  }

  /* some nicer defaults */
  // progress[value]::-webkit-progress-bar {
    // background-color: $progress-bg-color;
    // border-radius: $progress-border-radius;
    // box-shadow: $progress-box-shadow;
  // }
  // progress[value]::-moz-progress-bar {
    // border-radius: $progress-border-radius;
    // box-shadow: $progress-box-shadow;
  // }

  /* --- progress OK --- */
  // .progress-ok {
    // color: $progress-ok-color;
  // }
  // .progress-ok::-webkit-progress-value {
    // background-color: $progress-ok-color;
  // }
  // .progress-ok::-moz-progress-bar {
    // background-color: $progress-ok-color;
  // }

  /* --- progress WARN --- */
  // .progress-warn {
    // color: $progress-warn-color;
  // }
  // .progress-warn::-webkit-progress-value {
    // background-color: $progress-warn-color;
  // }
  // .progress-warn::-moz-progress-bar {
    // background-color: $progress-warn-color;
  // }

  /* --- progress CRITICAL --- */
  // .progress-crit {
    // color: $progress-crit-color;
  // }
  // .progress-crit::-webkit-progress-value {
    // background-color: $progress-crit-color;
  // }
  // .progress-crit::-moz-progress-bar {
    // background-color: $progress-crit-color;
  // }

  /* Generated by Glyphter (http://www.glyphter.com) on  Thu Jun 02 2016*/
