body {
	font-size: 14px;
	line-height: 1.5rem;
	background: #333333;
	height: 350px;
	padding: 0;
	margin: 0;
}
.header {
	padding: 5px 5px 15px 5px;
}
.glyphicon-log-in {
	margin-right: 10px;
}
.container-login {
	min-height: 0;
	width: 480px;
	color: #333333;
	margin-top: 40px;
	padding: 0;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.container-login > section {
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 10px;
}
.container-login h3 {
	color: #ff9800;
}
.login-panel {
	background-color: #ffffff;
	background-image: none;
	padding: 10px 30px;
}
.form-control {
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #999999;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #333333;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.4rem;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}
.container-login .checkbox {
	margin-top: -15px;
}
.container-login button {
	background-color: #ff9800;
	border-color: #ff9800;
	color: #ffffff;
	border-radius: 0;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 16px;
	width: 100%;
}
.container-login button:hover,
.container-login button:focus {
	background: #de2f19;
	border-color: #be2816;
}
