/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Notifications
 */
div#flash {
	text-align: center;
}

div#flash .flash {
	display: inline-block;
	max-width: 600pt;
	padding: 5pt;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30pt;
	text-align: left;
}
div#flash .success {
	background: #90e090;
	color: #006500;
	border: 1pt solid #006500;
}
div#flash .notice { }
div#flash .warn { }
div#flash .error {
	background: #ff9090;
	color: #c70f19;
	border: 1pt solid #c70f19;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}


/*
 * Main content
 */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.icon-title {
	text-align: center
}

.navbar-brand-pad {
	margin-top: 10px;
}

.progress {
	position: relative;
}

.progress span {
	position: absolute;
	display: block;
	width: 100%;
	color: black;
}

/*
 * red color for delete links / trash icon / disabled cross
 */
.item-delete {
	color: #c70f19;
	text-decoration: none;
}

.btn-delete {
	background-color: #ff9090;
	color: #c70f19;
}

.item-disabled {
	color: #c70f19;
	text-decoration: none;
}
/*
 * green color for create links / plus icon / enabled check
 */
.btn-create {
	background: #90e090;
	color: #006500;
}
.btn-text .btn-icon {
	float: left;
	display: inline-block;
}

.item-enabled {
	color: #008000;
	text-decoration: none;
}

.badge-icon {
	font-size: 200%;
	font-weight: bold;
	line-height: 12pt;
	padding-top: 0;
	padding-bottom: 0;
	/* padding-left: 0.25em; */
	/* padding-right: 0.25em; */
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0.25em;
	display: inline-block;
	float: left;
	clear: left;
	vertical-align: middle;
	white-space: nowrap;
}

.btn-default {
	background-color: buttonface;
}

a.nounderline {
	text-decoration: none;
}

/*
 * form stuff
 */
input.byte-unit {
	text-align: right;
}

input.num-input {
	text-align: right;
}

/* Generated by Glyphter (http://www.glyphter.com) on  Thu Sep 01 2016*/
@font-face {
	font-family: 'vhost api';
	src: url('../fonts/vhost-api.eot');
	src: url('../fonts/vhost-api.eot?#iefix') format('embedded-opentype'),
	url('../fonts/vhost-api.woff') format('woff'),
	url('../fonts/vhost-api.ttf') format('truetype'),
	url('../fonts/vhost-api.svg#vhost-api') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
	font-family: 'vhost api';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-home:before{content:'\0042';}
.icon-logout:before{content:'\0043';}
.icon-mail:before{content:'\0044';}
.icon-save:before{content:'\0045';}
.icon-database:before{content:'\0046';}
.icon-disk:before{content:'\0048';}
.icon-dns:before{content:'\0049';}
.icon-edit:before{content:'\004a';}
.icon-lock:before{content:'\004b';}
.icon-settings:before{content:'\004c';}
.icon-stats:before{content:'\004d';}
.icon-trash:before{content:'\004e';}
.icon-user:before{content:'\004f';}
.icon-contact:before{content:'\0050';}
.icon-domain2:before{content:'\0051';}
.icon-domain:before{content:'\0052';}
.icon-web:before{content:'\0053';}
.icon-cloud:before{content:'\0054';}
.icon-git:before{content:'\0055';}
.icon-error:before{content:'\0056';}
.icon-info:before{content:'\0057';}
.icon-warn:before{content:'\0058';}
.icon-upload:before{content:'\0059';}
.icon-shell:before{content:'\005a';}
.icon-wrench:before{content:'\0061';}
.icon-add:before{content:'\0062';}
.icon-remove:before{content:'\0063';}
.icon-close:before{content:'\0064';}
.icon-shell2:before{content:'\0065';}
.icon-cross:before{content:'\0066';}
.icon-check:before{content:'\0067';}
.icon-filter:before{content:'\0068';}
.icon-globe:before{content:'\0069';}
.icon-infinity:before{content:'\006a';}
.icon-add-db:before{content:'\006b';}
.icon-delete-db:before{content:'\006c';}
.icon-atom:before{content:'\006d';}
.icon-webmail:before{content:'\006e';}
.icon-package:before{content:'\006f';}
.icon-arrow-left-double:before{content:'\0070';}
.icon-arrow-right-double:before{content:'\0071';}
.icon-arrow-left:before{content:'\0072';}
.icon-arrow-right:before{content:'\0073';}
