/*
 * icons
 */
div.icon {
  display: inline-block;
  line-height: 1;
  padding: 0 0 0 0;
}

.icon::before {
  content: "";
  width:  1.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background: currentColor;
  -webkit-mask-image: none;
  mask-image: none;
  -webkit-mask-size: cover;
  mask-size: cover;
}

span.icon::before {
	height: 2em;
	width: 2em;
	margin: 0 0.25em 0 0;
	padding: 0;
	vertical-align: -50%;
}

.icon-home::before               { -webkit-mask-image: url('/img/icons.svg#home');               mask-image: url('/img/icons.svg#home'); }
.icon-mail::before               { -webkit-mask-image: url('/img/icons.svg#mail');               mask-image: url('/img/icons.svg#mail'); }
.icon-user::before               { -webkit-mask-image: url('/img/icons.svg#user');               mask-image: url('/img/icons.svg#user'); }
.icon-user_add::before           { -webkit-mask-image: url('/img/icons.svg#user_add');           mask-image: url('/img/icons.svg#user_add'); }
.icon-user_del::before           { -webkit-mask-image: url('/img/icons.svg#user_del');           mask-image: url('/img/icons.svg#user_del'); }
.icon-arrow_right::before        { -webkit-mask-image: url('/img/icons.svg#arrow_right');        mask-image: url('/img/icons.svg#arrow_right'); }
.icon-arrow_right_double::before { -webkit-mask-image: url('/img/icons.svg#arrow_right_double'); mask-image: url('/img/icons.svg#arrow_right_double'); }
.icon-arrow_left::before         { -webkit-mask-image: url('/img/icons.svg#arrow_left');         mask-image: url('/img/icons.svg#arrow_left'); }
.icon-arrow_left_double::before  { -webkit-mask-image: url('/img/icons.svg#arrow_left_double');  mask-image: url('/img/icons.svg#arrow_left_double'); }
.icon-settings::before           { -webkit-mask-image: url('/img/icons.svg#settings');           mask-image: url('/img/icons.svg#settings'); }
.icon-package::before            { -webkit-mask-image: url('/img/icons.svg#package');            mask-image: url('/img/icons.svg#package'); }
.icon-stats::before              { -webkit-mask-image: url('/img/icons.svg#stats');              mask-image: url('/img/icons.svg#stats'); }
.icon-logout::before             { -webkit-mask-image: url('/img/icons.svg#logout');             mask-image: url('/img/icons.svg#logout'); }
.icon-globe::before              { -webkit-mask-image: url('/img/icons.svg#globe');              mask-image: url('/img/icons.svg#globe'); }
.icon-webmail::before            { -webkit-mask-image: url('/img/icons.svg#webmail');            mask-image: url('/img/icons.svg#webmail'); }
.icon-trash::before              { -webkit-mask-image: url('/img/icons.svg#trash');              mask-image: url('/img/icons.svg#trash'); }
.icon-active::before             { -webkit-mask-image: url('/img/icons.svg#active_fill');        mask-image: url('/img/icons.svg#active_fill'); }
/*.icon-active::before         { -webkit-mask-image: url('/img/icons.svg#active');             mask-image: url('/img/icons.svg#active'); }*/
.icon-database::before           { -webkit-mask-image: url('/img/icons.svg#database');           mask-image: url('/img/icons.svg#database'); }
.icon-dns::before                { -webkit-mask-image: url('/img/icons.svg#dns');                mask-image: url('/img/icons.svg#dns'); }
.icon-dns_alt::before            { -webkit-mask-image: url('/img/icons.svg#dns_alt');            mask-image: url('/img/icons.svg#dns_alt'); }
.icon-vhosts::before             { -webkit-mask-image: url('/img/icons.svg#vhosts');             mask-image: url('/img/icons.svg#vhosts'); }
.icon-disabled::before           { -webkit-mask-image: url('/img/icons.svg#disabled');           mask-image: url('/img/icons.svg#disabled'); }
.icon-plus::before               { -webkit-mask-image: url('/img/icons.svg#plus');               mask-image: url('/img/icons.svg#plus'); }
/*.icon-plus::before               { -webkit-mask-image: url('/img/icons.svg#plus_alt');               mask-image: url('/img/icons.svg#plus_alt'); }*/
.icon-arrow_updown::before       { -webkit-mask-image: url('/img/icons.svg#arrow_updown');       mask-image: url('/img/icons.svg#arrow_updown'); }
.icon-caret_up::before           { -webkit-mask-image: url('/img/icons.svg#caret_up');           mask-image: url('/img/icons.svg#caret_up'); }
.icon-caret_up_fill::before      { -webkit-mask-image: url('/img/icons.svg#caret_up_fill');      mask-image: url('/img/icons.svg#caret_up_fill'); }
.icon-caret_down::before           { -webkit-mask-image: url('/img/icons.svg#caret_down');       mask-image: url('/img/icons.svg#caret_down'); }
.icon-caret_down_fill::before      { -webkit-mask-image: url('/img/icons.svg#caret_down_fill');  mask-image: url('/img/icons.svg#caret_down_fill'); }
/*.icon-::before        { -webkit-mask-image: url('/img/icons.svg#');                          mask-image: url('/img/icons.svg#'); }*/

/*
 * red color for delete links / trash icon / disabled cross
 */
.item-delete {
	color: #c70f19;
	text-decoration: none;
}

.item-disabled {
	color: #c70f19;
	text-decoration: none;
}

.item-enabled {
	color: #008000;
	text-decoration: none;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 70px tall */
body {
	padding-top: 70px;
}


/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Notifications
 */
div.modal-dialog {
	z-Index: 2;
}

div.alert-wrapper {
	/* position: fixed; */
	/* top: 80px; */
	/* left: calc(8vw + 20px); */
	/* right: 10px; */
	/* z-Index: 23; */
	/* margin: 0; */
	margin-top: 10px;
	margin-left: calc(8vw + 20px);
}

div.ajax_flash:hover {
	cursor: pointer;
}

div.ajax_flash > h4 {
	text-transform: capitalize;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top, .navbar-header {
	height: 70px;
	border: 0;
}

.navbar-brand {
	height: 70px;
	max-width: 81px;
	padding: 0 10px;
}

.navbar-brand > span.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.navbar-brand > img {
	display: inline-block;
	max-height: 60px;
	vertical-align: middle;
}

.navbar-nav > li {
	min-width: 60px;
	max-width: 80px;
	min-height: 70px;
	max-height: 70px;
	vertical-align: middle;
	text-align: center;
}

.navbar-nav > li > a {
	max-height: inherit;
	min-height: 70px;
}

@media (min-width: 768px) {
	nav.navbar > div.container-fluid > div#navbar > ul.navbar-nav {
		max-width: calc(100% - 266.677px);
	}
	ul.navbar-right > li {
		min-width: 200px;
		max-width: 200px;
		text-align: right;
	}
	ul.navbar-right > li > a {
		min-width: 100%;
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	ul.navbar-nav {
		background-color: #222;
	}
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}


/*
 * Main content
 */

.main {
	padding: 5px 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}

.number-heading {counter-reset: h2}
.number-heading h2 {counter-reset: h3}
.number-heading h3 {counter-reset: h4}
.number-heading h4 {counter-reset: h5}
.number-heading h5 {counter-reset: h6}
.number-heading h2:before {counter-increment: h2; content: counter(h2) ". "}
.number-heading h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
.number-heading h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
.number-heading h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
.number-heading h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.icon-title {
	text-align: center
}

.progress {
	position: relative;
}

.progress span {
	position: absolute;
	display: block;
	width: 100%;
	color: black;
}

.btn-delete {
	background-color: #ff9090;
	color: #c70f19;
}

.btn-create {
	background: #90e090;
	color: #006500;
}

.btn-text .btn-icon {
	float: left;
	display: inline-block;
}

.btn-default {
	background-color: buttonface;
}

a.nounderline {
	text-decoration: none;
}

/*
 * form stuff
 */
input.byte-unit {
	text-align: right;
}

input.num-input {
	text-align: right;
}

th.no-sort::after {
	display: none !important;
}

th.no-sort {
	pointer-events: none !important;
	cursor: default !important;
}

tfoot {
	display: table-header-group;
}

.table tbody tr td:last-child {
	width: 1%;
	white-space: nowrap;
}

th.small-search {
	width: 1%;
	white-space: nowrap;
}

td.iso-date {
	width: 1%;
	white-space: nowrap;
}

.progress {
	min-width: 100px;
}

th.bool {
	width: 75px;
}

th.quota-bytes {
	width: 125px;
}

tfoot tr, tfoot tr th, table.dataTable tfoot th, table.dataTable tfoot td {
	padding: 5px 15px 5px 2px;
	margin: 0;
	border-top: none;
	border-bottom: 1px solid #111;
}

table.dataTable tbody tr:first-child td {
	border-top: none;
}

table.dataTable tfoot th input.form-control {
	padding: 3px 4px 3px 6px;
	line-height: 1.0;
	height: 28px;
}
