table, td, th {
	border: 1pt solid black;
	border-collapse: collapse;
	padding: 5pt;
}

progress {
	/* reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* remove border in firefox */
	border: none;
}

/* some nicer defaults */
progress[value]::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2pt;
	box-shadow: 0 2pt 5pt rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-moz-progress-bar {
	border-radius: 2pt;
	box-shadow: 0 2pt 5pt rgba(0, 0, 0, 0.25) inset;
}

/* --- progress OK --- */
.progress-ok {
	color: green;
}
.progress-ok::-webkit-progress-value {
	background-color: green;
}
.progress-ok::-moz-progress-bar {
	background-color: green;
}

/* --- progress WARN --- */
.progress-warn {
	color: orange;
}
.progress-warn::-webkit-progress-value {
	background-color: orange;
}
.progress-warn::-moz-progress-bar {
	background-color: orange;
}

/* --- progress CRITICAL --- */
.progress-crit {
	color: red;
}
.progress-crit::-webkit-progress-value {
	background-color: red;
}
.progress-crit::-moz-progress-bar {
	background-color: red;
}

/* progress[value]::-webkit-progress-bar { */
/* background-color: #eee; */
/* border-radius: 2pt; */
/* box-shadow: 0 2pt 5pt rgba(0, 0, 0, 0.25) inset; */
/* } */

/* progress[value]::-webkit-progress-value { */
/* background-image: -webkit-linear-gradient(-45deg, transparent 33%, */
/* rgba(0, 0, 0, 0.1) 33%, */
/* rgba(0, 0, 0, 0.1) 66%, */
/* transparent 66%), */
/* -webkit-linear-gradient(top, rgba(255, 255, 255, .25), */
/* rgba(0, 0, 0, .25)), */
/* -webkit-linear-gradient(left, #09c, #f44); */
/* border-radius: 2pt; */
/* background-size: 35pt 20pt, 100% 100%, 100% 100%; */
/* } */
