.table-wrapper
  %table.table.table-triped
    %caption DKIM Keys
    %thead
      %tr
        %th< ID
        %th< Selector
        %th< Created
        %th< Updated
        %th< Domain
        %th< Enabled
        %th< Authors
    %tbody
      - @dkims.each_value do |dkim|
        - p dkim
        - en = 'icon-check item-enabled'
        - dis = 'icon-cross item-disabled'
        - suff = dkim['enabled'] ? en : dis
        - textval = dkim['enabled'] ? ' yes' : ' no'
        %tr
          %td<= dkim['id']
          %td<
            %a{ href: "/mail/dkim/#{dkim['id']}/edit" }= dkim['selector']
          %td<= Time.at(dkim['created_at'].to_i)
          %td<= Time.at(dkim['updated_at'].to_i)
          %td<= dkim['domain']['name']
          %td.icon{ class: suff }= textval
          %td<
            - dkim['dkim_signings'].each do |dksgn|
              %p<= dksgn['author']

.table-wrapper
  %table.table.table-triped
    %caption DKIM Author-Key Associations
    %thead
      %tr
        %th< ID
        %th< Author
        %th< Created
        %th< Updated
        %th< Enabled
        %th< DKIM Key
    %tbody
      - @dkimsignings.each_value do |dkimsgn|
        - dksgnid = dkimsgn['id']
        - en = 'icon-check item-enabled'
        - dis = 'icon-cross item-disabled'
        - suff = dkimsgn['enabled'] ? en : dis
        - textval = dkimsgn['enabled'] ? ' yes' : ' no'
        %tr
          %td<= dkimsgn['id']
          %td<
            %a{ href: "/mail/dkimsigning/#{dksgnid}/edit" }= dkimsgn['author']
          %td<= Time.at(dkimsgn['created_at'].to_i)
          %td<= Time.at(dkimsgn['updated_at'].to_i)
          %td.icon{ class: suff }= textval
          %td<= dkimsgn['dkim']['id']
