.table-wrapper
  %table.table.table-striped
    %caption Domains
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          - @result.each_value.first.each_key do |key|
            %th<= key
      %tbody
        - @result.each_value do |d|
          %tr
            - d.each_key do |key|
              - if key =~ %r{name}
                %td
                  %a{ href: "/domains/#{d['id']}/edit" }<= d[key]
              - elsif key =~ %r{user}
                - uid = d[key]['id'].to_i
                - uname = d[key]['name']
                %td
                  %a{ href: "/users/#{uid}/edit" }<= uname
              - elsif key =~ %r{ed_at$}
                %td<= Time.at(d[key].to_i)
              - elsif key =~ %r{enabled$}
                - en = 'icon-check item-enabled'
                - dis = 'icon-cross item-disabled'
                - suff = d[key] ? en : dis
                - textval = d[key] ? ' yes' : ' no'
                %td.icon{ class: "icon #{suff}" }= textval
              - else
                %td<= d[key]
