.table-wrapper
  - @create_btn_txt = 'New Domain'
  %a{ href: '/domains/new' }<= haml :create_button
  %table.table.table-striped.data-table
    %caption Domains
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          %th< ID
          %th< Domain Name
          %th.bool< Email Enabled
          %th.bool< DNS Enabled
          %th< Created
          %th< Updated
          %th.bool< Enabled
          %th< User
          %th.no-sort<
      %tfoot
        %tr
          %th.no-search<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th.no-sort<
      %tbody
        - @result.each_value do |d|
          - id = d['id']
          - alt = "Domain #{id} (#{d['name']})"
          %tr{ id: "vhapi-domains-#{id}" }<
            %td<= d['id']
            - haml_td_edit "/packages", id, d['name'], alt
            - haml_td_bool d['mail_enabled']
            - haml_td_bool d['dns_enabled']
            %td.iso-date<= Time.at(d['created_at'].to_i).strftime('%F')
            %td.iso-date<= Time.at(d['updated_at'].to_i).strftime('%F')
            - haml_td_bool d['enabled']
            %td<= d['user']['name']
            - haml_td_delete "/domains", id, alt
