.table-wrapper
  %table.table.table-striped
    %caption Domains
    - unless @domains.nil? || @domains.empty?
      %thead
        %tr
          - @domains[0].keys.each do |key|
            %th<= key
      %tbody
        - @domains.each do |d|
          %tr
          - d.keys.each do |key|
            %td<= d[key]
