.table-wrapper
  %table.table.table-striped
    %caption Domains
    - unless @domains.nil? || @domains.empty?
      %thead
        %tr
          - @domains.first[1].keys.each do |key|
            %th<= key
      %tbody
        - @domains.each do |d|
          %tr
            - d[1].keys.each do |key|
              - if key =~ %r{name}
                %td
                  %a{ href: "/domains/#{d[0]}/edit" }<= d[1][key]
              - elsif key =~ %r{user}
                - uid = d[1][key]['id'].to_i
                - uname = d[1][key]['name']
                %td
                  %a{ href: "/users/#{uid}/edit" }<= uname
              - elsif key =~ %r{ed_at$}
                %td<= Time.at(d[1][key].to_i)
              - elsif key =~ %r{enabled$}
                - en = 'icon-check item-enabled'
                - dis = 'icon-cross item-disabled'
                - suff = d[1][key] ? en : dis
                - textval = d[1][key] ? ' yes' : ' no'
                %td.icon{ class: "icon #{suff}" }= textval
              - else
                %td<= d[1][key]
