%h1 Edit MailAccount
%form{ id: 'edit_mailaccount',
  method: 'PATCH',
  action: "/mail/accounts/#{@mailaccount[:id]}" }<
    %input{ type: 'hidden', name: '_method', value: 'PATCH' }
    = haml :form_mailaccount
