- @form[:hidden_fields].each do |f|
  %input{ type: 'hidden', name: f[:name], value: f[:value] }<
- f = @form[:visible_fields]

-# EMAIL ADDRESS WITH DOMAIN SELECT
- field = f.index { |x| x[:name] == 'localpart' }
- domain_field = f.index { |x| x[:name] == 'domain_id' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %input.form-control{ type: f[field][:type],
                         name: f[field][:name],
                        value: f[field][:value],
                  placeholder: f[field][:placeholder].to_s }<
  .col-sm-3<
    .input-group<
      %span.input-group-addon< @
      %select.form-control{ name: f[domain_field][:name] }<
        - f[domain_field][:options].each do |opt|
          - if opt[:selected]
            %option{ value: opt[:value], selected: 'selected' }<= opt[:text]
          - else
            %option{ value: opt[:value] }<= opt[:text]

-# ENABLED
- field = f.index { |x| x[:name] == 'enabled' }
.form-group<
  .col-sm-5.col-sm-offset-2<
    .checkbox<
      %label<
        - if f[field][:checked]
          %input{ type: 'checkbox', name: f[field][:name],
                  checked: 'checked' }<= f[field][:label]
        - else
          %input{ type: 'checkbox', name: f[field][:name] }<= f[field][:label]

-# ACCOUNTS
- field = f.index { |x| x[:name] == 'accounts[]' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %label{ style: 'margin-top: 0.5em;' }< Available
    %select.form-control{ name: 'from[]', id: 'accounts', multiple: true,
                          size: 8 }<
      - f[field][:options].each do |opt|
        - unless opt[:selected]
          %option{ value: opt[:value] }<= opt[:text]
  - @msel_id = 'accounts'
  .col-sm-1<= haml :multiselect_button_group
  .col-sm-3<
    %label{ style: 'margin-top: 0.5em;' }< Selected
    %select.form-control{ name: 'accounts[]', id: 'accounts_to', multiple: true,
                          size: 8 }
      - f[field][:options].each do |opt|
        - if opt[:selected]
          %option{ value: opt[:value] }<= opt[:text]

-# SUBMIT
.form-group<
  .col-sm-offset-2.col-sm-1<= haml :submit_button
  .col-sm-1<
  .col-sm-1<
    %a.nounderline{ href: '/mail/sources' }<= haml :cancel_button
