%table
  - @mailaccount.each_pair do |key, value|
    - if key.to_s =~ %r{customer}
      - next
    %tr
      %td<
        %label{ for: key }<= key
      %td<
        - suffix = { key: nil, val: nil }
        - disable_input = false
        - if %w(id created_at updated_at).include? key.to_s
          - disable_input = true
        - if key.to_s == 'password'
          - input_type = 'password'
          - input_value = ''
        - elsif [true, false].include?(value)
          - input_type = 'checkbox'
          - input_value = value.to_s
          - if value
            - suffix[:key] = 'checked'
            - suffix[:val] = 'checked'
        - elsif key.to_s =~ %r{_at$}
          - value = Time.at(value)
        - elsif key.to_s =~ %r{^(quota|sieve)usage_rel}
          - disable_input = true
          - value = "#{value} %"
        - elsif key.to_s =~ %r{^(quota|sieve)usage}
          - disable_input = true
          - value = Filesize.from("#{value} B").pretty
        - else
          - input_type = 'text'
          - input_value = value
        - if disable_input
          = value
        - elsif suffix[:key].nil?
          %input{ id: key, name: key, type: input_type, value: input_value }<
        - else
          %input{ id: key, name: key, type: input_type, value: input_value,
            suffix[:key].to_sym => suffix[:val] }<
  %tr
    %td{ colspan: 2, style: 'text-align: center' }<
      %input{ type: 'submit', value: 'Submit',
        onclick: 'submitMyForm(); return false;',
        style: 'display:inline-block;' }<
