- @form[:hidden_fields].each do |f|
  %input{ type: 'hidden', name: f[:name], value: f[:value] }<
- f = @form[:visible_fields]

-# EMAIL ADDRESS WITH DOMAIN SELECT
- field = f.index { |x| x[:name] == 'localpart' }
- domain_field = f.index { |x| x[:name] == 'domain_id' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %input.form-control{ type: f[field][:type],
                         name: f[field][:name],
                        value: f[field][:value],
                  placeholder: f[field][:placeholder].to_s }<
  .col-sm-3<
    .input-group<
      %span.input-group-addon< @
      %select.form-control{ name: f[domain_field][:name] }<
        - f[domain_field][:options].each do |opt|
          - if opt[:selected]
            %option{ value: opt[:value], selected: 'selected' }<= opt[:text]
          - else
            %option{ value: opt[:value] }<= opt[:text]

-# REALNAME
- field = f.index { |x| x[:name] == 'realname' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %input.form-control{ type: f[field][:type],
                         name: f[field][:name],
                        value: f[field][:value],
                  placeholder: f[field][:placeholder].to_s }<

-# PASSWORD
- field = f.index { |x| x[:name] == 'password' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %input.form-control{ type: f[field][:type],
                         name: f[field][:name] }<

-# PASSWORD CONFIRMATION
- field = f.index { |x| x[:name] == 'password2' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %input.form-control{ type: f[field][:type],
                         name: f[field][:name] }<

-# QUOTA
- field = f.index { |x| x[:name] == 'quota' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-2<
    %input.form-control.byte-unit{ type: f[field][:type],
                                   name: f[field][:name],
                                     id: f[field][:name],
                                  value: f[field][:value],
                            placeholder: f[field][:placeholder].to_s }<
  .col-sm-1<
    %select.form-control.btn-primary.byte-unit{ id: 'quota_unit',
                                              name: 'quota_unit' }<
      %option{ value:             1, selected:  true }<   B
      %option{ value:         1_024, selected: false }< KiB
      %option{ value:     1_048_576, selected: false }< MiB
      %option{ value: 1_073_741_824, selected: false }< GiB

-# QUOTA SIEVE SCRIPT
- field = f.index { |x| x[:name] == 'quota_sieve_script' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-2<
    %input.form-control.byte-unit{ type: f[field][:type],
                                   name: f[field][:name],
                                     id: f[field][:name],
                                  value: f[field][:value],
                            placeholder: f[field][:placeholder].to_s }<
  .col-sm-1<
    %select.form-control.btn-primary.byte-unit{ id: 'quota_sieve_script_unit',
                                              name: 'quota_sieve_script_unit' }<
      %option{ value:             1, selected:  true }<   B
      %option{ value:         1_024, selected: false }< KiB

-# QUOTA SIEVE ACTIONS
- field = f.index { |x| x[:name] == 'quota_sieve_actions' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-2<
    %input.form-control.num-input{ type: f[field][:type],
                                   name: f[field][:name],
                                  value: f[field][:value],
                            placeholder: f[field][:placeholder].to_s }<

-# QUOTA SIEVE REDIRECTS
- field = f.index { |x| x[:name] == 'quota_sieve_redirects' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-2<
    %input.form-control.num-input{ type: f[field][:type],
                                   name: f[field][:name],
                                  value: f[field][:value],
                            placeholder: f[field][:placeholder].to_s }<

-# RECEIVING ENABLED
- field = f.index { |x| x[:name] == 'receiving_enabled' }
.form-group<
  .col-sm-5.col-sm-offset-2<
    .checkbox<
      %label<
        - if f[field][:checked]
          %input{ type: 'checkbox', name: f[field][:name],
                  checked: 'checked' }<= f[field][:label]
        - else
          %input{ type: 'checkbox', name: f[field][:name] }<= f[field][:label]

-# ENABLED
- field = f.index { |x| x[:name] == 'enabled' }
.form-group<
  .col-sm-5.col-sm-offset-2<
    .checkbox<
      %label<
        - if f[field][:checked]
          %input{ type: 'checkbox', name: f[field][:name],
                  checked: 'checked' }<= f[field][:label]
        - else
          %input{ type: 'checkbox', name: f[field][:name] }<= f[field][:label]

-# ALIASES
- field = f.index { |x| x[:name] == 'aliases[]' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %label{ style: 'margin-top: 0.5em;' }< Available
    %select.form-control{ name: 'from[]', id: 'aliases', multiple: true,
                          size: 8 }<
      - f[field][:options].each do |opt|
        - unless opt[:selected]
          %option{ value: opt[:value] }<= opt[:text]
  - @msel_id = 'aliases'
  .col-sm-1<= haml :multiselect_button_group
  .col-sm-3<
    %label{ style: 'margin-top: 0.5em;' }< Selected
    %select.form-control{ name: 'aliases[]', id: 'aliases_to', multiple: true,
                          size: 8 }
      - f[field][:options].each do |opt|
        - if opt[:selected]
          %option{ value: opt[:value] }<= opt[:text]

-# SOURCES
- field = f.index { |x| x[:name] == 'sources[]' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %label{ style: 'margin-top: 0.5em;' }< Available
    %select.form-control{ name: 'from[]', id: 'sources', multiple: true,
                          size: 8 }<
      - f[field][:options].each do |opt|
        - unless opt[:selected]
          %option{ value: opt[:value] }<= opt[:text]
  - @msel_id = 'sources'
  .col-sm-1<= haml :multiselect_button_group
  .col-sm-3<
    %label{ style: 'margin-top: 0.5em;' }< Selected
    %select.form-control{ name: 'sources[]', id: 'sources_to', multiple: true,
                          size: 8 }
      - f[field][:options].each do |opt|
        - if opt[:selected]
          %option{ value: opt[:value] }<= opt[:text]

-# SUBMIT
.form-group<
  .col-sm-offset-2.col-sm-1<= haml :submit_button
  .col-sm-1<
  .col-sm-1<
    %a.nounderline{ href: '/mail/accounts' }<= haml :cancel_button
