- @form[:hidden_fields].each do |f|
  %input{ type: 'hidden', name: f[:name], value: f[:value] }<
- f = @form[:visible_fields]

-# DOMAIN NAME
- field = f.index { |x| x[:name] == 'name' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %input.form-control{ type: f[field][:type],
                         name: f[field][:name],
                        value: f[field][:value],
                  placeholder: f[field][:placeholder].to_s }<
-# MAIL_ENABLED
- field = f.index { |x| x[:name] == 'mail_enabled' }
.form-group<
  .col-sm-5.col-sm-offset-2<
    .checkbox<
      %label<
        - if f[field][:checked]
          %input{ type: 'checkbox', name: f[field][:name],
                  checked: 'checked' }<= f[field][:label]
        - else
          %input{ type: 'checkbox', name: f[field][:name] }<= f[field][:label]

-# DNS_ENABLED
- field = f.index { |x| x[:name] == 'dns_enabled' }
.form-group<
  .col-sm-5.col-sm-offset-2<
    .checkbox<
      %label<
        - if f[field][:checked]
          %input{ type: 'checkbox', name: f[field][:name],
                  checked: 'checked' }<= f[field][:label]
        - else
          %input{ type: 'checkbox', name: f[field][:name] }<= f[field][:label]

-# ENABLED
- field = f.index { |x| x[:name] == 'enabled' }
.form-group<
  .col-sm-5.col-sm-offset-2<
    .checkbox<
      %label<
        - if f[field][:checked]
          %input{ type: 'checkbox', name: f[field][:name],
                  checked: 'checked' }<= f[field][:label]
        - else
          %input{ type: 'checkbox', name: f[field][:name] }<= f[field][:label]


-# USER
- field = f.index { |x| x[:name] == 'user_id' }
.form-group<
  %label.col-sm-2.control-label<= f[field][:label]
  .col-sm-3<
    %select.form-control{ name: f[field][:name] }<
      - f[field][:options].each do |opt|
        - if opt[:selected]
          %option{ value: opt[:value], selected: 'selected' }<= opt[:text]
        - else
          %option{ value: opt[:value] }<= opt[:text]

-# SUBMIT
.form-group<
  .col-sm-offset-2.col-sm-1<= haml :submit_button
  .col-sm-1<
  .col-sm-1<
    - if admin? || reseller?
      %a.nounderline{ href: '/domains' }<= haml :cancel_button
    - else
      %a.nounderline{ href: '/' }<= haml :cancel_button
