- @form[:hidden_fields].each do |f|
  %input{ type: 'hidden', name: f[:name], value: f[:value] }<

- @form[:visible_fields].each do |field|
  - class_suffix = 'has-error' if field[:errors]
  .form-group{ class: class_suffix }<
    - if field[:type] == 'checkbox'
      - type = 'checkbox'
      .col-sm-4.col-sm-offset-2<
        .checkbox<
          %label<
            - if field[:checked]
              %input{ type: type, name: field[:name],
              checked: 'checked' }<= field[:label]
            - else
              %input{ type: type, name: field[:name] }<= field[:label]
    - elsif field[:type] == 'select'
      %label.col-sm-2.control-label<= field[:label]
      .col-sm-4<
        - en_multiple = field[:multiple] ||= false
        %select.form-control{ name: field[:name], multiple: en_multiple }<
          - field[:options].each do |opt|
            - if opt[:selected]
              %option{ value: opt[:value], selected: 'selected' }<= opt[:text]
            - else
              %option{ value: opt[:value] }<= opt[:text]
    - else
      %label.col-sm-2.control-label<= field[:label]
      .col-sm-4<
        %input.form-control{ type: field[:type],
          name: field[:name],
          value: field[:value],
          placeholder: field[:placeholder].to_s }<
      - if field[:errors]
        %p.help-block.error<
          - field[:errors].each do |err|
            = err
            %br<
-# SUBMIT
.form-group<
  .col-sm-offset-2.col-sm-1<= haml :submit_button
  .col-sm-1<
  .col-sm-1<
    %a.nounderline{ href: '/users' }<= haml :cancel_button
