.table-wrapper
  %table.table.table-striped
    %caption Groups
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          - @result.each_value.first.each_key do |key|
            %th<= key
      %tbody
        - @result.each_value do |g|
          %tr{ id: "vhapi-groups-#{g['id']}" }<
            - g.each_key do |key|
              - if key =~ %r{name}
                %td
                  %a{ href: "/groups/#{g['id']}/edit" }<= g[key]
              - elsif key =~ %r{ed_at$}
                %td.iso-date<= Time.at(g[key].to_i).strftime('%F')
              - elsif key =~ %r{enabled$}
                - en = 'icon-active item-enabled'
                - dis = 'icon-disabled item-disabled'
                - suff = g[key] ? en : dis
                - textval = g[key] ? ' yes' : ' no'
                %td.icon{ class: "icon #{suff}" }= textval
              - else
                %td<= g[key]
