.table-wrapper
  %table.table.table-striped
    %caption Groups
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          %th< ID
          %th< Name
          %th< Created
          %th< Updated
          %th.bool< Enabled
          %th.no-sort<
      %tbody
        - @result.each_value do |g|
          - id = g['id']
          - alt = "Group #{id} (#{g['name']})"
          %tr{ id: "vhapi-groups-#{id}" }<
            %td<= id
            - haml_td_edit "/groups", id, g['name'], alt
            %td.iso-date<= Time.at(g['created_at'].to_i).strftime('%F')
            %td.iso-date<= Time.at(g['updated_at'].to_i).strftime('%F')
            - haml_td_bool g['enabled']
            - haml_td_delete "/groups", id, alt
