!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %meta{ content: '', name: 'description' }
    %meta{ content: '', name: 'author' }
    %title= @title
    %link{ href: "/#{settings.cssdir}/styles.css", media: 'Screen',
      rel: 'stylesheet' }
    %link{ href: "/#{settings.cssdir}/mobile.css", media: 'handheld',
      rel: 'stylesheet' }
    %link{ href: '/img/favicon.ico', rel: 'shortcut icon' }
  %body
    .login
      .row
        .col-3.col-offset-3= yield
