-# TODO: VHost-API text + logo + favicon
-# %form.form-signin
  -# %h3.form-signin-heading< Please sign in
  -# %label.sr-only{ for: 'user' }< Username
  -# %input.form-control#user{ type: 'text', name: 'user',
    -# placeholder: 'Username', autofocus: 'autofocus' }<
  -# %label.sr-only{ for: 'password' }< Password
  -# %input.form-control#password{ type: 'password', name: 'password',
    -# placeholder: 'Password' }<
  -# %button.btn.btn-lg.btn-primary.btn-block{ type: 'submit' }< Sign in
.login-body
  %article.container-login.center-block
    .login-panel.col-xs-12.col-sm-12.col-md-12.col-lg-12
      #login-access
        .header
          - defined?(settings.site_logo) or settings.site_logo = 'logo-default.png'
          %img.center-block{ alt: 'Logo', src: "/img/#{settings.site_logo}" }
        %form.form-horizontal{ accept: { charset: 'utf-8' },
                               action: '/login',
                               role: 'form',
                               autocomplete: 'off',
                               method: 'POST' }
          .form-group
            %label.sr-only{ for: 'user' }< Username
            %input.form-control#user{ type: 'text', name: 'user',
              placeholder: 'Username', autofocus: 'autofocus', tabindex: 1 }<
          .form-group
            %label.sr-only{ for: 'password' }< Password
            %input.form-control#password{ type: 'password', name: 'password',
              placeholder: 'Password', tabindex: 2 }<
          .form-group
            %button.btn.btn-lg.btn-primary{ type: 'submit', name: 'sign-in',
              tabindex: 3 }< Sign in

