.login-body
  %article.container-login.center-block
    .login-panel.col-xs-12.col-sm-12.col-md-12.col-lg-12
      #login-access
        .header
          %img.center-block{ alt: 'Logo', width: 240, height: 48, src: "/img/#{settings.site_logo}" }
        %form.form-horizontal{ accept: { charset: 'utf-8' },
                               action: '/login',
                               role: 'form',
                               autocomplete: 'off',
                               method: 'POST' }
          .form-group
            %label.sr-only{ for: 'user' }< Username
            %input.form-control#user{ type: 'text', name: 'user',
              placeholder: 'Username', autofocus: 'autofocus', tabindex: 1 }<
          .form-group
            %label.sr-only{ for: 'password' }< Password
            %input.form-control#password{ type: 'password', name: 'password',
              placeholder: 'Password', tabindex: 2 }<
          .form-group
            %button.btn.btn-lg.btn-primary{ type: 'submit', name: 'sign-in',
              tabindex: 3 }< Sign in

