.table-wrapper
  %table.table.table-striped
    %caption MailAliases
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          %th< ID
          %th< Address
          %th< Created
          %th< Updated
          %th< Enabled
          %th< Domain
          %th< Destinations
      %tbody
        - @result.each_value do |mailalias|
          - aliasid = mailalias['id']
          - en = 'icon-check item-enabled'
          - dis = 'icon-cross item-disabled'
          - suff = mailalias['enabled'] ? en : dis
          - textval = mailalias['enabled'] ? ' yes' : ' no'
          %tr
            %td<= aliasid
            %td<
              %a{ href: "/mail/aliases/#{aliasid}/edit" }<= mailalias['address']
            %td<= Time.at(mailalias['created_at'].to_i)
            %td<= Time.at(mailalias['updated_at'].to_i)
            %td.icon{ class: "icon #{suff}" }= textval
            %td<= mailalias['domain']['name']
            %td<
              - mailalias['mail_accounts'].each do |dest|
                %p<= dest['email']
