.table-wrapper
  - @create_btn_txt = 'New MailSource'
  %a{ href: '/mail/sources/new' }<= haml :create_button
  %table.table.table-striped.data-table
    %caption MailSources
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          %th< ID
          %th< Address
          %th< Created
          %th< Updated
          %th.bool< Enabled
          %th< Domain
          %th< Allowed From
          %th.no-sort<
      %tfoot<
        %tr<
          %th.no-search<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th.no-sort<
      %tbody
        - @result.each_value do |mailsource|
          - s_id = mailsource['id']
          - en = 'icon-check item-enabled'
          - dis = 'icon-cross item-disabled'
          - suff = mailsource['enabled'] ? en : dis
          - textval = mailsource['enabled'] ? ' yes' : ' no'
          - a_del = "/mail/sources/#{mailsource['id']}/delete"
          %tr
            %td<= s_id
            %td<
              %a{ href: "/mail/sources/#{s_id}/edit" }<= mailsource['address']
            %td<= Time.at(mailsource['created_at'].to_i)
            %td<= Time.at(mailsource['updated_at'].to_i)
            %td.icon{ class: "icon #{suff}" }= textval
            %td<= mailsource['domain']['name']
            %td<
              - mailsource['mail_accounts'].each do |acc|
                %p<= acc['email']
            %td<
              %a.icon.item-delete.icon-trash{ href: a_del }= ' delete'
