.table-wrapper
  %table.table.table-triped
    %caption Mailsources
    - unless @mailsources.nil? || @mailsources.empty?
      %thead
        %tr
          - @mailsources[0].keys.each do |key|
            %th<= key
      %tbody
        - @mailsources.each do |mailsource|
          %tr
          - mailsource.keys.each do |key|
            %td<= mailsource[key]
