.table-wrapper
  - @create_btn_txt = 'New MailForwarding'
  %a{ href: '/mail/forwardings/new' }<= haml :create_button
  %table.table.table-striped.data-table
    %caption MailForwardings
    - unless @result.nil? || @result.empty?
      %thead<
        %tr<
          %th< ID
          %th< Address
          %th< Created
          %th< Updated
          %th.bool< Enabled
          %th< Domain
          %th< Destinations
          %th.no-sort<
      %tfoot<
        %tr<
          %th.no-search<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th.no-sort<
      %tbody
        - @result.each_value do |mfwd|
          - id = mfwd['id']
          - alt = "Forwarding #{id} (#{mfwd['address']})"
          %tr{ id: "vhapi-mail-forwardings-#{mfwd['id']}" }<
            %td<= id
            - haml_td_edit "/mail/forwardings", id, mfwd['address'], alt
            %td.iso-date<= Time.at(mfwd['created_at'].to_i).strftime('%F')
            %td.iso-date<= Time.at(mfwd['updated_at'].to_i).strftime('%F')
            - haml_td_bool mfwd['enabled']
            %td<= mfwd['domain']['name']
            %td<
              - mfwd['destinations'].split("\n").each do |dest|
                %p<= dest
            - haml_td_delete "/mail/forwardings", id, alt
