.table-wrapper
  %table.table.table-triped
    %caption Mailaliases
    - unless @mailaliases.nil? || @mailaliases.empty?
      %thead
        %tr
          - @mailaliases[0].keys.each do |key|
            %th<= key
      %tbody
        - @mailaliases.each do |mailalias|
          %tr
          - mailalias.keys.each do |key|
            %td<= mailalias[key]
