.table-wrapper
  - @create_btn_txt = 'New MailSource'
  %a{ href: '/mail/sources/new' }<= haml :create_button
  %table.table.table-striped.data-table
    %caption MailSources
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          %th< ID
          %th< Address
          %th< Created
          %th< Updated
          %th.bool< Enabled
          %th< Domain
          %th< Allowed From
          %th.no-sort<
      %tfoot<
        %tr<
          %th.no-search<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th.no-sort<
      %tbody
        - @result.each_value do |mailsource|
          - id = mailsource['id']
          - alt = "Source #{id} (#{mailsource['address']})"
          %tr{ id: "vhapi-mail-sources-#{mailsource['id']}" }<
            %td<= id
            - haml_td_edit "/mail/sources", id, mailsource['address'], alt
            %td.iso-date<= Time.at(mailsource['created_at'].to_i).strftime('%F')
            %td.iso-date<= Time.at(mailsource['updated_at'].to_i).strftime('%F')
            - haml_td_bool mailsource['enabled']
            %td<= mailsource['domain']['name']
            %td<
              - mailsource['mail_accounts'].each do |acc|
                %p<= acc['email']
            - haml_td_delete "/mail/sources", id, alt
