.table-wrapper
  - @create_btn_txt = 'New MailAlias'
  %a{ href: '/mail/aliases/new' }<= haml :create_button
  %table.table.table-striped.data-table
    %caption MailAliases
    - unless @result.nil? || @result.empty?
      %thead<
        %tr<
          %th< ID
          %th< Address
          %th< Created
          %th< Updated
          %th.bool< Enabled
          %th< Domain
          %th< Destinations
          %th.no-sort<
      %tfoot<
        %tr<
          %th.no-search<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th.no-sort<
      %tbody
        - @result.each_value do |mailalias|
          - id = mailalias['id']
          - alt = "Alias #{id} (#{mailalias['address']})"
          %tr{ id: "vhapi-mail-aliases-#{id}" }<
            %td<= id
            - haml_td_edit "/mail/aliases", id, mailalias['address'], alt
            %td.iso-date<= Time.at(mailalias['created_at'].to_i).strftime('%F')
            %td.iso-date<= Time.at(mailalias['updated_at'].to_i).strftime('%F')
            - haml_td_bool mailalias['enabled']
            %td<= mailalias['domain']['name']
            %td<
              - mailalias['mail_accounts'].each do |dest|
                %p<= dest['email']
            - haml_td_delete "/mail/aliases", id, alt
