%br<
%br<
%button.btn.btn-default.btn-block{ type: 'button',
                                     id: "#{@msel_id}_rightAll" }<
  %i.icon.icon-arrow-right-double<
%button.btn.btn-default.btn-block{ type: 'button',
                                     id: "#{@msel_id}_rightSelected" }<
  %i.icon.icon-arrow-right<
%button.btn.btn-default.btn-block{ type: 'button',
                                     id: "#{@msel_id}_leftSelected" }<
  %i.icon.icon-arrow-left<
%button.btn.btn-default.btn-block{ type: 'button',
                                     id: "#{@msel_id}_leftAll" }<
  %i.icon.icon-arrow-left-double<
