%br<
%br<
%button.btn.btn-default.btn-block{ type: 'button',
                                     id: "#{@msel_id}_rightAll" }<
  %i.icon.icon-arrow_right_double<
%button.btn.btn-default.btn-block{ type: 'button',
                                     id: "#{@msel_id}_rightSelected" }<
  %i.icon.icon-arrow_right<
%button.btn.btn-default.btn-block{ type: 'button',
                                     id: "#{@msel_id}_leftSelected" }<
  %i.icon.icon-arrow_left<
%button.btn.btn-default.btn-block{ type: 'button',
                                     id: "#{@msel_id}_leftAll" }<
  %i.icon.icon-arrow_left_double<
