%li<
  %a{ href: '/', title: 'Home', class: nav_current? }<
    .icon.icon-home.icon-title
    .title Home
%li<
  %a{ href: '/user', title: 'User', class: nav_current?('user') }<
    .icon.icon-user.icon-title
    .title User
%li<
  %a{ href: '/stats', title: 'DNS', class: nav_current?('stats') }<
    .icon.icon-stats.icon-title
    .title Stats
%li<
  %a{ href: '/domains', title: 'Domains', class: nav_current?('domains') }<
    .icon.icon-domain.icon-title
    .title Domains
%li<
  %a{ href: '/mail', title: 'Mail', class: nav_current?('mail') }<
    .icon.icon-mail.icon-title
    .title Mail
%li<
  %a{ href: '/webhosting', title: 'VHosts', class: nav_current?('webhosting') }<
    .icon.icon-web.icon-title
    .title VHosts
%li<
  %a{ href: '/databases', title: 'DBs', class: nav_current?('databases') }<
    .icon.icon-database.icon-title
    .title DBs
%li<
  %a{ href: '/dns', title: 'DNS', class: nav_current?('dns') }<
    .icon.icon-dns.icon-title
    .title DNS
%li<
  %a{ href: '/settings', title: 'Settings',
      class: nav_current?('settings') }<
    .icon.icon-settings.icon-title
    .title Settings
%li<
  %a{ href: settings.webmail_link, target: '_blank',
      title: 'Webmail' }<
    .icon.icon-webmail.icon-title
    .title Webmail
