%li<
  %a{ href: '/', title: 'Home', class: nav_current? }<
    .icon.icon-home.icon-title
    .title Home
- if admin? || reseller?
  %li<
    %a{ href: '/users', title: 'Users', class: nav_current?('users') }<
      .icon.icon-user.icon-title
      .title Users
%li<
  %a{ href: '/stats', title: 'Stats', class: nav_current?('stats') }<
    .icon.icon-stats.icon-title
    .title Stats
- if admin? || reseller?
  %li<
    %a{ href: '/packages', title: 'Packages', class: nav_current?('packages') }<
      .icon.icon-package.icon-title
      .title Packages
- if session[:modules].include?('domain')
  %li<
    %a{ href: '/domains', title: 'Domains', class: nav_current?('domains') }<
      .icon.icon-domain.icon-title
      .title Domains
- if session[:modules].include?('email')
  %li<
    %a{ href: '/mail', title: 'Mail', class: nav_current?('mail') }<
      .icon.icon-mail.icon-title
      .title Mail
- if session[:modules].include?('vhost')
  %li<
    %a{ href: '/webhosting', title: 'VHosts',
        class: nav_current?('webhosting') }<
      .icon.icon-web.icon-title
      .title VHosts
- if session[:modules].include?('database')
  %li<
    %a{ href: '/databases', title: 'DBs', class: nav_current?('databases') }<
      .icon.icon-database.icon-title
      .title DBs
- if session[:modules].include?('dns')
  %li<
    %a{ href: '/dns', title: 'DNS', class: nav_current?('dns') }<
      .icon.icon-dns.icon-title
      .title DNS
%li<
  %a{ href: '/settings', title: 'Settings',
      class: nav_current?('settings') }<
    .icon.icon-settings.icon-title
    .title Settings
%li<
  %a{ href: settings.webmail_link, target: '_blank',
      title: 'Webmail' }<
    .icon.icon-webmail.icon-title
    .title Webmail
