.table-wrapper
  %table.table.table-striped
    %caption Users
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          - @result.each_value.first.each_key do |key|
            %th<= key
      %tbody
        - @result.each_value do |u|
          %tr
            - u.each_key do |key|
              - if key =~ %r{name}
                %td
                  %a{ href: "/users/#{u['id']}/edit" }<= u[key]
              - elsif key =~ %r{group}
                %td<= u[key]['name']
              - elsif key =~ %r{ed_at$}
                %td<= Time.at(u[key].to_i)
              - elsif key =~ %r{enabled$}
                - en = 'icon-check item-enabled'
                - dis = 'icon-cross item-disabled'
                - suff = u[key] ? en : dis
                - textval = u[key] ? ' yes' : ' no'
                %td.icon{ class: "icon #{suff}" }= textval
              - else
                %td<= u[key]
