.table-wrapper
  %table.table.table-triped
    %caption Users
    - unless @users.nil? || @users.empty?
      %thead
        %tr
          - @users[0].keys.each do |key|
            %th<= key
      %tbody
        - @users.each do |u|
          %tr
          - u.keys.each do |key|
            %td<= u[key]
