.table-wrapper
  - if admin? || reseller?
    - @create_btn_txt = 'New User'
    %a{ href: '/users/new' }<= haml :create_button
  %table.table.table-striped.data-table
    %caption Users
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          %th< ID
          %th< Name
          %th< Login
          %th< Contact Email
          %th< Created
          %th< Updated
          %th.bool< Enabled
          %th< Group
          %th< Reseller
          %th.no-sort<
      %tfoot
        %tr
          %th.no-search<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th.no-sort<
      %tbody
        - @result.each_value do |u|
          - id = u['id']
          - alt = "User #{id} (#{u['name']})"
          - reseller = u['reseller'] ? u['reseller']['name'] : ''
          %tr{ id: "vhapi-users-#{u['id']}" }<
            %td<= u['id']
            - haml_td_edit "/users", id, u['name'], alt
            %td<= u['login']
            %td<= u['contact_email']
            %td.iso-date<= Time.at(u['created_at'].to_i).strftime('%F')
            %td.iso-date<= Time.at(u['updated_at'].to_i).strftime('%F')
            - haml_td_bool u['enabled']
            %td<= u['group']['name']
            %td<= reseller
            - haml_td_delete "/users", id, alt
