.table-wrapper
  %table.table.table-striped
    %caption Users
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          %th< ID
          %th< Name
          %th< Login
          %th< Contact Email
          %th< Created
          %th< Updated
          %th< Enabled
          %th< Group
          %th< Reseller
      %tbody
        - @result.each_value do |u|
          - en = 'icon-check item-enabled'
          - dis = 'icon-cross item-disabled'
          - suff = u['enabled'] ? en : dis
          - textval = u['enabled'] ? ' yes' : ' no'
          - reseller = u['reseller'] ? u['reseller']['name'] : ''
          %tr
            %td<= u['id']
            %td<
              %a{ href: "/users/#{u['id']}/edit" }<= u['name']
            %td<= u['login']
            %td<= u['contact_email']
            %td<= Time.at(u['created_at'].to_i)
            %td<= Time.at(u['updated_at'].to_i)
            %td.icon{ class: "icon #{suff}" }= textval
            %td<= u['group']['name']
            %td<= reseller
